{% extends 'app/layout.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
    {% if message_list %}
        <h2>Logged Messages</h2>
        <table class="message_list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for message in message_list %}
                <tr>
                    <td>{{ message.log_date | date:'d M Y' }}</td>
                    <td>{{ message.log_date | time:'H:i:s' }}</td>
                    <td>
                        {{ message.message }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages have been loggged.  Use the <a href="{% url 'log' %}">Log Message</a> form.</p>
    {% endif %}
    {% if authenticator_list %}
        <h2>Authenticators</h2>
        <table class="authenticator_list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Authenticator</th>
                </tr>
            </thead>
            <tbody>
                {% for authenticator in authenticator_list %}
                <tr>
                    <td>{{ authenticator.store_date | date:'d M Y' }}</td>
                    <td>{{ authenticator.store_date | time:'H:i:s' }}</td>
                    <td>
                        {{ authenticator.authenticator }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No authenticators have been loggged.  Use the <a href="{% url 'create_authenticator' %}">Authenticator</a> form.</p>
    {% endif %}
{% endblock %}